/*variabel gebruikt bij opdr 1 class=name */
$primaryBgColor: #fff;
/*@import is gebruikt bij opdr1 class=text*/
@import "variables";

/* opdracht1 Testimonial*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border-radius: 1.9rem 1.9rem 0rem 0rem;
}

.body {
  color: black;
  background-color: #c3cfe2;
}


.container {
  /*width: clamp(150px, 100%, 400px);*/
  width: 300px;
  height: 400px;
  margin-left: 10px;

  box-shadow: 0px 2px 8px 0px;
  text-align: center;
  border-radius: 1.9rem 1.9rem 1.9rem 1.9rem;
  position: relative;
  overflow-wrap: break-word;
  background-color: #fff;
}

.text {
  background-color: #fff;
  height: 10rem;
  width: 100%;
  color: $secundaryBgColor;
  border: 1px;
  padding: 30px;
}

.profile {
  position: relative;
  width: 80px; /*6rem*/
  height: 80px; /*new21mrt*/
  border-radius: 50%;
  margin-bottom: -2.5rem;
  border: 3px solid #fff;
  background-color: whitesmoke;
}

.name {
  border: 1px;
  padding: 5px;
  font-size: 0.75rem;
  color: $primaryBgColor;
  background-color: #686de0;
}

.webnaam {
  font-size: 0.5 rem;
  margin: 1rem 2rem;
  color: #c0c1ee;
  background-color: #686de0;
}

.under {
 
  background-color: #686de0;
  padding: 30px;
  border-radius: 0rem 0rem 1.9rem 1.9rem;

  /*new 22mrt*/
  position: relative;
  width: 100%;/*300px*/
  height: 30%;/*125px*/
  bottom: 0px;
  right: 0px;
}

/*opdracht2: 7 foto's responsive werkt ? ja, opacity in box werkt? y*/
.body {
  background-color: #c3cfe2;
  padding: 10px;
  border-radius: 1.9rem 1.9rem 1.9rem 1.9rem; /*new works ? no*/
}
.gridcontainer {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  border-radius: 1.9rem 1.9rem 1.9rem 1.9rem; /*new works ?no*/
}

.boxone {
  border-radius: 1.9rem 1.9rem 1.9rem 1.9rem; /*new works? no*/
  position: relative;
  .middle {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0px;
    position: absolute;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
  .text {
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    padding: 16px 32;
    width: 100%;
    height: 100%;
  }

  .butreadmore {
    width: 25%;
    height: 15%;
    background-color: whitesmoke;
    color: black;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 0rem 0rem 0rem 0rem;
  }
}

.boxtwo {
  position: relative;
  .middletwo {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0px;
    position: absolute;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
  .texttwo {
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    padding: 16px 32;
    width: 100%;
    height: 100%;
  }

  .butreadmoretwo {
    width: 25%;
    height: 15%;
    background-color: whitesmoke;
    color: black;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 0rem 0rem 0rem 0rem;
  }
}

.boxthree {
  position: relative;
  .middlethree {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0px;
    position: absolute;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
  .textthree {
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    padding: 16px 32;
    width: 100%;
    height: 100%;
  }

  .butreadmorethree {
    width: 25%;
    height: 15%;
    background-color: whitesmoke;
    color: black;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 0rem 0rem 0rem 0rem;
  }
}

.boxfour {
  position: relative;
  .middlefour {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0px;
    position: absolute;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
  .textfour {
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    padding: 16px 32;
    width: 100%;
    height: 100%;
  }

  .butreadmorefour {
    width: 25%;
    height: 15%;
    background-color: whitesmoke;
    color: black;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 0rem 0rem 0rem 0rem;
  }
}

.boxfive {
  position: relative;
  .middlefive {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0px;
    position: absolute;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
  .textfive {
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    padding: 16px 32;
    width: 100%;
    height: 100%;
  }

  .butreadmorefive {
    width: 25%;
    height: 15%;
    background-color: whitesmoke;
    color: black;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 0rem 0rem 0rem 0rem;
  }
}

.boxsix {
  position: relative;
  .middlesix {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0px;
    position: absolute;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
  .textsix {
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    padding: 16px 32;
    width: 100%;
    height: 100%;
  }

  .butreadmoresix {
    width: 25%;
    height: 15%;
    background-color: whitesmoke;
    color: black;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 0rem 0rem 0rem 0rem;
  }
}

.boxseven {
  position: relative;
  .middleseven {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0px;
    position: absolute;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
  .textseven {
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    padding: 16px 32;
    width: 100%;
    height: 100%;
  }

  .butreadmoreseven {
    width: 25%;
    height: 15%;
    background-color: whitesmoke;
    color: black;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 0rem 0rem 0rem 0rem;
  }
}
/*imageone is new */
.imageone {
  border-radius: 1.9rem 1.9rem 1.9rem 1.9rem;
}

@media (min-width: 320px) {
  .gridcontainer {
    grid-template-columns: repeat(1 1fr);
  }
  .body {
    background-color: #c3cfe2;
  }
}

@media (min-width: 768px) {
  .gridcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .body {
    background-color: #c3cfe2;
  }
}

@media (min-width: 1024px) {
  .gridcontainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .body {
    background-color: #c3cfe2;
  }
}

/*opdracht 3:Social Media Button*/

body {
  background-color: #c3cfe2;
  margin: 0;
  overflow-x: hidden;
}

.mediabuttons {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  height: 600px;

  li {
      margin: 0px;
      padding: 10px;
      border-radius: 0rem 0rem 0rem 0rem;
      width: 320px;
      display: grid;
      grid-template-columns: 100px 220px;
      transform: translateX(270px);
      transition: transform 1000ms;/*2000ms*/

      img {
        height: 40px;
      }

      a {
        text-decoration: underline;
        color: white;
        font-size: 22px;
      }
  }/*li*/

  li:hover {
    transform: translatex(0px);
  }

  .buttons_blog {
    background-color: #e17b77;
  }

  .buttons_blog--link {
    background-color: #e17b77;
    text-align: center;/*new 22mrt*/
//}
  }

  .buttons_twitter {
    background-color: #00aced;
  }

  .buttons_twitter--link {
    background-color: #00aced;
    text-align: center;/*new 22mrt*/
  }

  .buttons_linkedin {
    background-color: #007bb6;
    
  }

  .buttons_linkedin--link {
    background-color: #007bb6;
    text-align: center;/*new 22mrt*/
  }

  .buttons_facebook {
    background-color: #3b5998;
  }

  .buttons_facebook--link {
    background-color: #3b5998;
    text-align: center;/*new 22mrt*/
  }

  .buttons_github {
    background-color: #333333;
  }

  .buttons_github--link {
    background-color: #333333;
    text-align: center;/*new 22mrt*/
  }
}
